/*
reset
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*
typo
*/

body{
    font-family: 'Roboto', sans-serif;
}

/*
common
*/

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    margin: 0 -10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

nav ul.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
    height: 20px;
}

/*
header
*/

header{
    padding: 15px;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header nav ul li a{
    color: #fff;
    font-size: 14px;
}

header nav ul li a:hover{
    text-decoration: underline;
    transition: 0.2s;
}

.icone{
    color: #fff;
}

.icone i{
    vertical-align: middle;
    margin-left: 10px;
}

/*
main
*/

main{
    padding-top: 80px;
}

.box{
    width: calc(33.33% - 20px);
    margin: 15px 10px;
    color: #000;
}

.immagine{
    position: relative;
}

.box .cuore{
    font-size: 18px;
    color: #000;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 10px;
}

.box .avvisi{
    position: absolute;
    bottom: 40px;
    left: 0;
}

.avvisi > *{
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
}

.sconto{
    background-color: red;
    margin-right: 2px;
}

.sostenibilità{
    background-color: green;
}

.prodotto{
    width: 100%;
}

.prodotto-hover{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}

.nome{
    font-size: 14px;
}

.prezzo{
    font-size: 12px;
    color: red;
}

.prezzo .prezzo-tagliato{
    margin-left: 5px;
    text-decoration: line-through;
    color: black;
}

.immagine:hover .prodotto-hover{
    opacity: 1;
}

/*
footer
*/

footer{
    background-color: #000;
    padding: 20px 0;
}

footer .social a{
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}